
    <div ng-controller='DetailsCtrl as details'>
        <div  ng-if="!error">
            <div class="row">
                <!--<div class="col tags">
                    <span ng-repeat="tag in issue.tags" ng-click="removeTag(tag)">{{tag}}<i class="icon"></i></span>
                    <span class="no-tag" ng-if="issue.tags.length < 1">No tag</span>
                </div>-->
            </div>
            <div class="row">
                <div class="col">
                    <h1>Creation</h1>
                    <p>{{details.issue.createdAt| date:'dd MMM yyyy'}}</p>
                </div>
                <div class="col">
                    <h1>Last modification</h1>
                    <p>{{details.issue.updatedAt| date:'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Status</h1>
                    <p>{{details.issue.state}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col issue-type">
                    <h1>Type du problème</h1>
                    <!--<p>{{details.issue.issueType.name}}</p>-->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Description</h1>
                    <p>{{details.issue.description}}</p>
                </div>
            </div>
            <!--<<div class="col comments">
                <h1>{{details.issue.comments.length}} Commentaire{{details.issue.comments.length > 1 ? 's' : ''}}</h1>
                <div class="card" id="{{comment.id}}" ng-repeat="comment in issue.comments">
                    <div>{{comment.text}}</div>
                    <div>
                        <span>{{comment.author.name}}, le {{comment.postedOn| date: 'dd MMM yyyy'}}.</span>
                    </div>
                </div>
            </div>-->
        </div>
        <!--<div class="issue-error" ng-if="error">
            <p>{{error.msg}}</p>
        </div>-->
    </div>
    <!--<div align-title="left" class="details-footer" ng-controller="CommentsCtrl" ng-if="!error">
        <form class="item-input-inset" name="commentForm">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Nouveau commentaire" maxlength="140" required ng-model="comment">
            </label>
            <button
                class="button back-button button-icon"
                ng-class="{'ion-paper-airplane': isAndroid,'ion-ios-paperplane-outline': !isAndroid}"
                ng-click="addComment()"
                ng-disabled="commentForm.$invalid">
            </button>
        </form>
</div>-->