<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Citizen Engagement</title>

  <!-- Add here the link to Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style type="text/css">
    main { margin-top: 70px; }
  </style>

</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Citizen Engagement</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <div class="collpase navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="#" title="Go to map" class="glyphicon glyphicon-map-marker"></a></li> 
          <li><a href="#">How to</a></li>
          <li><a href="#">New Issue</a></li>
          <li><a href="#">All Issues</a></li>
        </ul>
         <button class="btn btn-success navbar-btn" ng-controller="LogoutCtrl as logout" ng-click="logout.disconnect()"> Log out</button>
      </div>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
<main class="container">
    <!-- leaflet map -->
    <!--<div class="map-container" ng-controller="MapCtrl as map">
       <leaflet width="100%" height="480px" 
       lf-center="map.center"
       defaults="map.defaults"
       markers="map.markers">
       not on this map but later we will need this
       <button class="btn btn-default" ng-click="map.addMarker()">Add marker</button> 
       </leaflet>
     </div>--> 
    <!-- end of leaflet map -->
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="page-header text-center">
        <h1>Last Issues</h1>
      </div>
      <form role="form" id="form-buscar">
        <div class="form-group">
          <div class="input-group">
            <input id="1" class="form-control" type="text" name="search" placeholder="Search..." required/>
            <span class="input-group-btn">
              <button class="btn btn-success">
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search
              </button>
            </span>
          </div>
        </div>
      </form>
      <div ng-controller="ListPanelController as listPanelCtrl" class="list-group">
        <div ng-repeat="description in listPanelCtrl.descriptions | orderBy: '-time' | limitTo: 10">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{description.title}}</h3>
            <small>{{description.time | date: 'HH:MM'}}</small>
          </div>
          <p class="mb-1">{{description.text}}</p>
          <span><i class="glyphicon glyphicon-comment"> </i> {{description.ncomments}}</span>
        </a>
        </div>
      </div>
    </div>
  </div>           
</main>
<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <button class="btn btn-default navbar-btn">Privacy &amp; Terms</button>
    <div class="navbar-right">
      <p class="navbar-text">&copy; 2017 - Marta Costa &amp; Rute Pereira</p>
    </div>
  </div>
</footer>
</body>
</html>