<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Citizen Engagement</title>

</head>
<body>
  <main class="container">
    <div ng-controller="IssuesListCtrl as issuelistctrl" class="list-group">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
      <div class="bg-primary text-center">
          <h2 id="lastIssues">Last Reported Issues</h2>
        </div>
        <!--<h1 ng-controller="LoginCtrl as login">Welcome {{ login.user.firstname }}</h1>-->
        <!-- leaflet map -->
        <div class="map-container" ng-controller="MapCtrl as map">
         <leaflet width="100%" height="200px"
         lf-center="yverdon"
         defaults="map.defaults"
         markers="map.markers">
     </leaflet>
   </div>
   <!-- end of leaflet map -->
        <input id="1" ng-model="word" class="form-control" type="text" name="search" placeholder="Search issues matching the specified text" required/>

    <div ng-repeat="issue in issues | limitTo: 10 | filter:word">
      <a ui-sref="issues.details({ id: issue.id })" ui-sref-active="active" class="list-group-item list-group-item-action flex-column">
        <div class="d-flex w-100 justify-content-between">
          <small>{{issue.createdAt | date: "dd.MM.yyyy HH:mm"}}</small>
        </div>
        <p class="mb-1">{{issue.description}}</p>
        <span><i class="glyphicon glyphicon-comment"> </i> {{issue.ncomments}}</span>
        <!--<span><i class="glyphicon glyphicon-comment"> </i> {{issue.ncomments}}</span>-->
      </a>
    </div>
  </div>
  <div>
  <a ui-sref="issues" class="btn btn-default btn-xl sr-button">Go to all issues</a>
  </div>
</div>
</div>
</main>
<footer class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-right">
      <p class="navbar-text">&copy; 2017 - Marta Costa &amp; Rute Pereira</p>
    </div>
  </div>
</footer>
</body>
</html>
