<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Citizen Engagement</title>

</head>
<body>
  <main class="container">

    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="page-header text-center callout-light fade-in-b"">
          <h1 id="lastIssues">Last Reported Issues</h1>
        </div>
        <!--<h1>Welcome to {{ homePageCtrl.name }}</h1>-->
        <!-- leaflet map -->
        <div class="map-container" ng-controller="MapCtrl as map">
         <leaflet width="100%" height="200px" 
         lf-center="map.center"
         defaults="map.defaults"
         markers="map.markers">
       <!--not on this map but later we will need this
       <button class="btn btn-default" ng-click="map.addMarker()">Add marker</button>--> 
     </leaflet>
   </div> 
   <!-- end of leaflet map -->
   <form role="form" id="form-buscar">
    <div class="form-group">
      <div class="input-group">
        <input id="1" class="form-control" type="text" name="search" placeholder="Search..." required/>
        <span class="input-group-btn">
          <button class="btn btn-success">
            <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search
          </button>
        </span>
      </div>
    </div>
  </form>
  <div ng-controller="HomePageController as homePageCtrl" class="list-group">
    <div ng-repeat="issue in homePageCtrl.issues | orderBy: '-time' | limitTo: 10">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h3 class="mb-1">{{issue.title}}</h3>
          <small>{{issue.time | date: 'HH:MM'}}</small>
        </div>
        <p class="mb-1">{{issue.text}}</p>
        <span><i class="glyphicon glyphicon-comment"> </i> {{issue.ncomments}}</span>
      </a>
    </div>
  </div>
</div>
</div>           
</main>
<footer class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <button class="btn btn-default navbar-btn">Privacy &amp; Terms</button>
    <div class="navbar-right">
      <p class="navbar-text">&copy; 2017 - Marta Costa &amp; Rute Pereira</p>
    </div>
  </div>
</footer>
</body>
</html>