
<main class="container">
  <!-- leaflet map -->
  <div class="container" ng-controller="NewIssueCtrl as newIssue">
    <div class="map-container" ng-controller="MapCtrl as map">
     <leaflet width="100%" height="480px"
       lf-center="map.center"
       defaults="map.defaults"
       markers="draggableMarker">
    </leaflet>
    <button class='col-xs-12 col-md-8 form-group' type="submit" class="btn"
    ng-click="newIssue.updateLocation(draggableMarker.lat, draggableMarker.lng)">Save location</button>
  </div>
<!-- end of leaflet map -->
    <div class='col-md-8' ng-if="newIssue.locationOK == true">
      <form name="form" ng-submit="newIssue.createNewIssue()" role="form">
        <div class='form-row'>
          <label class="item item-input item-select">
              <div class="input-label">Type</div>
              <select>
                <option
                  value="{{issueType.name}}"
                  ng-repeat="issueType in newIssue.issueTypes">
                  {{issueType.name}}
                </option>
                </select>
                <select class="form-control"
                        data-ng-change="newIssue.issue.issueTypeHref = issueType.href"
                        ng-model="issueType.href"
                        ng-options="issueType.href as issueType.name for issueType in newIssue.issueTypes">
                        <option value="">Select Country</option>
                </select>
          </label>
        </div>
        <div class="form-row">
          <label class='control-label'>Description</label>
          <textarea class="col-xs-12 col-md-8 form-group required form-control" rows="3" ng-model="newIssue.issue.description">Please give more details about the issue</textarea>
        </div>
        <div class="form-row">
          <label class='control-label'>Tags</label>
          <tags-input ng-model="newIssue.issue.tags" use-strings="true"></tags-input>
        </div>
        <button class='col-xs-12 col-md-8 form-group' type="submit" class="btn">Save this issue </button>
        </form>

      </div>
    </div>
    </main>
