
<div id="page-top">

	<section class="bg-primary" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h1 class="section-heading">Report, discuss and view local issues </h1>
					<h2>Yverdon-les-Bains</h2>
					<hr class="light">
					<p class="text-faded">
						Citizen Engagement application is an independent website that help you to report existing problems in the city of Yverdon-les-bains.

						All you have to do is to register you, identify the location pf your issue and describe it. 

						No matter where you are!</p>
						<a ui-sref="login" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
					</div>
				</div>
			</div>
		</section>


		<section id="services">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading">How do I make a report?</h2>
						<hr class="primary">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 text-center">
						<div class="service-box">
							<i class="glyphicon glyphicon-registration-mark"></i>
							<h3>Register and Sign In</h3>
							<p class="text-muted">Create your account and start to contribute</p>
						</div>	
					</div>
					<div class="col-lg-3 col-md-6 text-center">
						<div class="service-box">
							<i class="glyphicon glyphicon-share"></i>
							<h3>Report</h3>
							<p class="text-muted">Set location and describe your issue!</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 text-center">
						<div class="service-box">
							<i class="glyphicon glyphicon-alert"></i>
							<h3>Issues</h3>
							<p class="text-muted">Get to know all reported issues</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 text-center">
						<div class="service-box">
							<i class="glyphicon glyphicon-comment"></i>
							<h3>Participate</h3>
							<p class="text-muted">Comment in reported issues!</p>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="no-padding" id="portfolio">
			<div class="container-fluid">
				<div class="row no-gutter popup-gallery">
					<div class="col-lg-4 col-sm-6">
						<a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
							<img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										1
									</div>
									<div class="project-name">
										Sign In
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
							<img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										2
									</div>
									<div class="project-name">
										See Last Issues
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
							<img src="img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										3
									</div>
									<div class="project-name">
										Report an Issue
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
							<img src="img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										4
									</div>
									<div class="project-name">
										See all issues
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
							<img src="img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										5
									</div>
									<div class="project-name">
										Comment
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
							<img src="img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										6
									</div>
									<div class="project-name">
										Search for an issue
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>

		<aside class="bg-dark">
			<div class="container text-center">
				<div class="call-to-action">
					<h2>Register for Free Now!</h2>
					<a ui-sref="login" class="btn btn-default btn-xl sr-button">Sign in</a>
					<a ui-sref="register" class="btn btn-default btn-xl sr-button">Register</a>
				</div>
			</div>
		</aside>

	</div>
